<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/Asset 16.png" alt="SafeWalk logo" width="50px" height="50px">
      afeWalk -- When Safety Matters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <td colspan="2">
        <ion-card class="card1">
          <ion-card-header>
            <ion-card-title>Check Who Is Near Your Area</ion-card-title>
          </ion-card-header>
          <img id="imgs" src="assets/img/whonear.png" alt="Check Who Is Near" style="width:50%;height:50%">
        </ion-card>
      </td>
    </tr>

    <tr>
      <td>
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-title>Current Trusted List</ion-card-title>
          </ion-card-header>
          <img id="imgs" src="assets/img/trustedList.png" alt="Check Who Is Near" style="width:50%;height:50%">
        </ion-card>
      </td>
      <td>
        <ion-card class="card3">
          <ion-card-header>
            <ion-card-title>Report Area</ion-card-title>
          </ion-card-header>
          <img id="imgs" src="assets/img/reportArea.png" alt="Report Area" style="width:50%;height:50%">
        </ion-card>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-card class="card4">
          <ion-card-header>
            <ion-card-title>Add/Remove Emergency Contacts</ion-card-title>
          </ion-card-header>
          <img id="imgs" src="assets/img/emergencyContact.png" alt="Check Who Is Near" style="width:50%;height:50%">
          <ion-card-content>
            <!-- Add a button with (click) event to navigate to the add-contact page -->
            <ion-button expand="full" color="primary" (click)="goToAddContactPage()">Add Emergency Contact</ion-button>
          </ion-card-content>
        </ion-card>
      </td>
    </tr>
    
    <td>
      <ion-card class="card5" style="background-color: rgb(210, 236, 215);">
        <ion-card-header>
          <ion-card-title>Your Location Posts</ion-card-title>
        </ion-card-header>
        <img id="imgs" src="assets/img/Phone.png" alt="Location Posts" style="width:200%;height:100%; mix-blend-mode:unset;">
      </ion-card>
    </td>
<section>
  
 
