<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Account settings here soon"></app-explore-container>

  <!-- <ion-button expand="full" (click)="loginService.logout()">Logout</ion-button> -->
</ion-content>
