<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome, {{ user.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome, {{ user.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center" style="margin-top: 200px;">
    <ion-button class="button" (click)="loginService.logout()">Logout</ion-button>
  </div>
</ion-content>
