u {
    color: lightgreen;
}

u:hover {
    background-color: lightgrey;
}

h6 {
    width: 100%;
    text-align: center;
}

.button {
    border-radius: 12px;
    position: center;
}

.center {
    position: center;
    margin-top: 175px;
}

#imgs {
    width: 100px;
    height: 100px;
    float: right;
}