<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Safe Walk - When safety matters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home elements (to be added soon lol)"></app-explore-container>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Check Who is Near Your Area</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-button fill="clear">Action 1</ion-button>
  <ion-button fill="clear">Action 2</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Current Trusted List</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-button fill="clear">Action 1</ion-button>
  <ion-button fill="clear">Action 2</ion-button>
</ion-card>
