.card1 {
    background-color: #E2E8C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* adjust as needed */
    padding: 10px; /* adjust as needed */
    width: 94%;
    height: 140px;
}

.card2 {
    background-color: #F5D5BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* adjust as needed */
    padding-right: 0px;
    padding: 10px; /* adjust as needed */
    width: 200px;
    height: 115px;
    
}

.card3 {
    background-color: #BED8F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* adjust as needed */
    padding: 10px; /* adjust as needed */
    width: 170px;
    height: 115px;
}

.card4 {
    background-color: #F0BEF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* adjust as needed */
    padding: 10px; /* adjust as needed */
    width: 94%;
    height: 131px;
}

#imgs {
    float: right;
    position: relative;
}

ion-title {
    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
    --color: black;
}

.sosBtn {
    width: 80px;
    height: 80px;
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card-container {
    width: 94%;
    text-align: center;
  }
  
  .middle-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
  
  ion-card {
    background-color: var(--ion-card-background-color);
    padding: 10px;
    text-align: center; 
    width: 100%;
    max-width: none;
  }
  
  .card-image {
    max-width: 50%;
    height: auto;
  }
  
  ion-card-title {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }

  ion-card-header {
    padding: 0%;
  }

  ion-button {
    border-radius: 12px;
  }
  
  
  
  
  