.card1 {
    background-color: #E2E8C3;
    text-align: left;
}

.card2 {
    background-color: #F5D5BE;
}

.card3 {
    background-color: #BED8F5;
}

.card4 {
    background-color: #F0BEF5;
}

#imgs {
    float: right;
    position: static;
}

ion-card-title {
    --color: black;
    font-weight: bold;
    text-align: left;
}

ion-title {
    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
    --color: yellow;
}

// td {
//     width: 100%;
//     height: 100%;
// }